@import '../base/colors';
@import '../base/fonts';
@import '../base/extends';


/* Estilos navbar */

.navbar {

    .navbar-container {
        width: 100%;
        margin: 0 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        ul {
            li {
                padding: 0 1.5rem;
    
            }

        }
        

    }
}

.title-container {
    min-height: 60vh;
}